#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#


config APP_PROVIDE_PM_HOOKS
	bool "Application provides PM hooks"
	default y if SOC_NRF54H20_CPUPPR
	select HAS_PM
	select HAS_POWEROFF

config APP_MULTITHREADING
	bool "Application uses multithreading"
	default y
choice
	prompt "Application VPR PM implementation"
	depends on APP_PROVIDE_PM_HOOKS && !APP_MULTITHREADING
	default APP_MANUAL_VPR_PM_CUSTOM

config APP_MANUAL_VPR_PM_CUSTOM
	bool "Application uses manual VPR PM"

config APP_MANUAL_VPR_PM_HACKED_PM
	bool "Application uses hacked PM"
endchoice

source "Kconfig.zephyr"
