#
# Copyright (c) 2024 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

config APP_PROVIDE_PM_HOOKS
	bool "Application provides PM hooks"
	depends on MULTITHREADING
	default y if SOC_NRF54H20_CPUPPR
	select HAS_PM
	select HAS_POWEROFF

config APP_USE_NRFX_DRIVERS
	bool "Use nrfx drivers directly instead of Zephyr SPI driver"
	default n
	select NRFX_SPIM
	select NRFX_GPIOTE130

source "Kconfig.zephyr"
